.wrapper {
  margin-top: 6rem;
}

.form {
  background-color: lavender;
  padding: 1rem 1rem 2rem;
  max-width: 80%;
  margin: 0 auto;
}

.textarea {
  width: 30rem;
  height: 8rem;
  margin-bottom: 1rem;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.submit {
  display: block;
  margin: 0 auto;
  background-color: #FFE4E1;
  padding: 1rem;
  font-size: 18px;
  cursor: pointer;
  color: inherit;
}
