body {
	background-color: #00bfff;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	letter-spacing: .7px;
	text-align: center;
	color: darkslategray;
	background-image: url(/static/lotus-leaf.png);
  	background-repeat: repeat;
  	background-size: 20%;
  	line-height: 2rem;
  	margin: 0 0 4rem;
  	padding: 0;
}

h1, h2 {
	font-family: 'Bilbo', cursive;
	letter-spacing: 0.2rem;
	color: white;
	line-height: 4rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

a {
	font-family: 'Roboto Condensed', sans-serif;
	color: ghostwhite;
}

header {
	text-align: right;
}

header a {
	margin-left: 20px;
}
